.parceiros {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.parceiros-titulo {
  margin-bottom: 3.75rem;
}

.parceiros-lista {
  padding: 0 1.25rem;
  max-width: 87.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros-lista li {
  display: flex;
  padding: 2rem;
  border-left: 0.0625rem solid var(--cor-2);
}

.parceiros li img {
  margin: auto;
  width: 8.75rem;
}

.parceiros-lista li:first-child,
.parceiros-lista li:nth-child(5) {
  border-left: none;
}

.parceiros-lista li:nth-child(n + 5) {
  border-top: 0.0625rem solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 3.75rem;
  }

  .parceiros-titulo {
    margin-bottom: 1.25rem;
  }

  .parceiros-lista {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .parceiros-lista li {
    padding: 1.25rem;
  }

  .parceiros-lista li:nth-child(n + 3) {
    border-top: 0.0625rem solid var(--cor-2);
  }

  .parceiros-lista li:nth-child(odd) {
    border-left: none;
  }
}
