.container {
  box-sizing: border-box;
  max-width: 75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.primary-button {
  display: inline-block;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
}

.primary-button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.secundary-button {
  display: inline-block;
  background: var(--cor-10);
  border-radius: 0.25rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: var(--cor-2);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
}

.secundary-button:hover {
  background: var(--cor-9);
}

.primary-link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.primary-link:hover {
  color: var(--cor-0);
}

.primary-link::after {
  content: "";
  display: block;
  width: 100%;
  height: .25rem;
  background-color: currentColor;
}

/* Titulos Internos */
.titulo-bg {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--cor-11);
}

.titulo-tag {
  margin-bottom: .25rem;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .titulo-tag {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .primary-button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
