.seguros-bg {
    background: var(--cor-11);
}

.seguros {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
}

#seguros .seguros {
    padding-top: 0;
}

.seguros-titulo {
    grid-column: 1/-1;
}

.seguros-item {
    background-color: var(--cor-12);
    padding: 2rem 2rem 2rem 3.75rem;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: .25rem;
}

.seguros-plano {
    margin-bottom: 2.5rem;
}

.seguros-plano-tempo {
    grid-column: 2;
    display: block;
    text-align: right;
}

.seguros-vantagens {
    grid-column: 1/-1;
    margin-bottom: 2rem;
}

.seguros-vantagens li {
    display: flex;
    align-items: center;
    position: relative;
}

.seguros-vantagens li + li {
    margin-top: 1.25rem;
}

.seguros-vantagens li::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: -1.3125rem;
    width: .8125rem;
    height: .5625rem;
    background-image: url("/img/icones/lista.svg");
    
}

.seguros-botao {
    grid-column: 1/-1;
}

@media (max-width: 800px) {
    .seguros {
        grid-template-columns: 1fr;
    }
}